{% extends 'base.html.twig' %}
{% block stylesheets    %}
	<link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}


{% block body %}
	{% include 'header.html.twig' %}

	<h1>Détails des livres</h1>

	{% for book in books %}
		<p>Titre :
			{{ book.tittle }}</p>
		<p>Auteur :
			{{ book.author }}</p>
		<p>ISBN :
			{{ book.code }}</p>
		<p>Prix :
			{{ book.price }}</p>


		<a href="{{ path('book_detail', {'id': book.id}) }}" class="btn btn-primary">Voir le livre</a>

		<hr>
	{% endfor %}
	<a href="{{ path('book_add') }}" class="btn btn-primary">Ajouter un livre</a>
{% endblock %}
