{% extends 'base.html.twig' %}

{% block stylesheets    %}
	<link rel="stylesheet" href="{{ asset('css/details.css') }}">
{% endblock %}
{% block title %}Détails du livre
{% endblock %}

{% block body %}
	{% include 'header.html.twig' %}

	<h1>Détails du livre</h1>

	<p>Titre :
		{{ book.tittle }}</p>
	<p>Auteur :
		{{ book.author }}</p>
	<p>ISBN :
		{{ book.code }}</p>
	<p>Prix :
		{{ book.price }}</p>

	<a href="{{ path('home') }}" class="btn btn-primary">Retour</a>
{% endblock %}
